@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


#root{
  width:100%; 
  height:100%;
  position:fixed;
  background: linear-gradient(45deg, rgba(0,0,0,1) 0, rgba(0,0,0,0.7) 100%);
}

body {
  font-family: 'VT323', monospace;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh; 
  color: #fff;
  box-sizing: border-box;
  overflow: hidden;
}



nav {
  text-align: center;
  margin: 4px;
}

h1{
  margin: 12px 0;
}

h1.index-module_type__E-SaG{
  margin: 0;
}

.description-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

span{
  text-decoration: underline;
  /* font-weight: bold; */
}

span:hover{
  cursor: pointer;
}

.react{ 
  color: #61DBFB;
}

.nodeJS{
 color:  #4A7843; 
}

.python{
color: #FFD343;
}

.glitch-wrap {
  position: relative;
  cursor: pointer;
}

.glitch {
  font-family: "Space Mono";
  color: #ffffff;
  font-size: 1rem;
  display: inline-block;
}


.glitch:before,
.glitch:after {
  content: "GLITCH";
  position: absolute;
  left: 2px;
  z-index: -1;
  visibility: hidden;
}

.glitch:hover {
  animation: glitch 1s linear;
}

.glitch:hover:before {
  animation: glitchTop 1.2s linear;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

.glitch:hover:after {
  animation: glitchBotom 1.7s linear;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitch {

  3%,
  60% {
      transform: skew(5deg);
  }

  62% {
      transform: translate(-10px, 2px) skew(30deg);
  }

  64% {
      transform: translate(6px, -1px) skew(-15deg);
  }

}

@keyframes glitchTop {

  1%,
  60% {
      transform: translate(-2px, 0);
      visibility: visible;
  }

  64% {
      transform: translate(-5px, 1px);
      visibility: visible;
  }

  62% {
      transform: translate(15px, -1px) skew(-13deg);
      visibility: visible;
  }
}

@keyframes glitchBotom {

  1%,
  64% {
      transform: translate(-2px, 0);
      visibility: visible;
  }

  4%,
  60% {
      transform: translate(-2px, 0);
      visibility: visible;
  }

  62% {
      transform: translate(-22px, 5px) skew(21deg);
      visibility: visible;
  }
}


p{
  font-size: 24px;
  margin-bottom: 0;
  margin-top: 0;
}

.graduation{
  margin-top: 8px;
}

footer {
  position: absolute; 
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5); 
  padding: 8px;
  z-index: 10;
}


.footer-img{
  width: 28px;
  height: 28px;
  border-radius: 50px;
  background: #fff;
}

footer img:hover {
  /* width: 30px; */
  /* height: 30px; */
  -webkit-animation:spin .5s linear ;
  -moz-animation:spin .5s linear ;
  animation:spin .5s linear ;
}
@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}


.socials-container{
  display: flex;
  gap: 8px;
  margin-top: 8px;
  justify-content: center;
}

span:hover{ 
  color: #ffffff;
  transition: 0.2s ease-in-out;
}

.hint{ 
  color: #949494 ;
 
}
