.modal-container{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
   
}



.modal{
    background-color: white;
    height: 60vh;
    width: 60vw;

    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 18px;
    

}

.modal-header{
    /* margin-bottom: 20; */
    padding: 12px;
}

.modal h2{
    text-align: center;
}

.modal-projects{
    display: flex;
    gap: 12px;
}

.modal-projects p{
    font-size: medium;
}

.modal-projects img:before{
    transform: scale(0.9);
}

.modal-projects img:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.react{
    color: #61DBFB;

    
}

.react-border{
    border: solid 2px #61DBFB;
    border-radius: 8px;
}

.node-border{
    border: solid 2px #4A7843; 
    border-radius: 8px;
}

.python-border{
    border: solid 2px #FFD343;
    border-radius: 8px;
}

.modal img{
    width: 150px;
    height: 150px;
}

.modal p{
    color: #000;

}

.others{
    color: pink; 
}
 
.others-border{
    border: solid 4px pink;
    border-radius: 8px;
}

.project-1, .project-2, .project-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
}