.modal-container{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
   
}



.modal {
    background-color: white;
    height: 60vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    overflow-y: auto; /* Enables vertical scrolling if content overflows */
}

/* Add media query for smaller screens */
@media screen and (max-width: 768px) {
    .modal-container {
        height: 80vh; /* Increase height to give more space */
    }
    .modal {
        width: 80vw; /* Increase width to utilize more screen space */
        height: auto; /* Make height automatic to fit content */
        max-height: 80vh; /* Set a max-height to ensure it doesn't go off screen */
    }
    .modal img {
        width: 100px; /* Decrease image size for smaller screens */
        height: 100px;
    }
    .modal-projects {
        flex-direction: column; /* Stack projects vertically */
    }
    .project-1, .project-2, .project-3 {
        width: 100%; /* Ensure projects use full width */
    }
}

.modal-header{
    /* margin-bottom: 20; */
    padding: 12px;
}

.modal h2{
    text-align: center;
}

.modal-projects{
    display: flex;
    gap: 12px;
}

.modal-projects p{
    font-size: medium;
}

.modal-projects img:before{
    transform: scale(0.9);
}

.modal-projects img:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.react{
    color: #61DBFB;

    
}

.react-border{
    border: solid 2px #61DBFB;
    border-radius: 8px;
}

.node-border{
    border: solid 2px #4A7843; 
    border-radius: 8px;
}

.python-border{
    border: solid 2px #FFD343;
    border-radius: 8px;
}

.modal img{
    width: 150px;
    height: 150px;
}

.modal p{
    color: #000;

}

.others{
    color: pink; 
}
 
.others-border{
    border: solid 4px pink;
    border-radius: 8px;
}

.project-1, .project-2, .project-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
}



/* --------- SKETCH ANIMATION -------------------------------------- */

